:root {
  --primary-color: #f28585;
  --secondary-color: #ffa447;
  --button-bg: coral;
}

body {
  background-color: var(--primary-color);
  font-family: Geneva, Verdana, Tahoma, sans-serif;
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.app {
  margin: 15vh auto;
  width: 22rem;
  text-align: center;
  color: white;
}

.app-name {
  text-align: left;
}

.segments {
  margin-top: 2rem;
}

.segment {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 12px;
  cursor: pointer;
}

.left-seg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.right-seg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.settings {
  display: flex;
  justify-content: space-between;
}

.setting-btn {
  padding: 5px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 0.5rem;
}

.picked {
  background-color: var(--button-bg);
}

.card {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.timer {
  font-size: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: monospace, "Courier New", Courier;
}

.control-btn {
  padding: 6px 25px;
  font-size: 36px;
  background-color: white;
  border: none;
  border-bottom: solid 5px lightcoral;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--primary-color);
}

.skip-btn {
  font-size: small;
  cursor: pointer;
  float: right;
  margin-top: -1.5rem;
}

.secondary-control-btn {
  color: var(--secondary-color);
  border-bottom-color: goldenrod;
}
